.item_details {
  margin-bottom: 10px;
}

.search-container {
  margin-top: 30px;
}

.title {
  margin: 20px 0 30px;
}

@media (max-width: 600px) {
  .brand-logo {
    font-size: 16px !important;
  }
}