{% extends 'base.html' %}
{% block content %}
<div class="row">
  <form action="{{ url_for('insert_category') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="category_name" name="category_name" type="text" class="validate">
        <label for="category_name">Add a new category name</label>
      </div>
    </div>
  <div class="row">
  <button class="btn waves-effect waves-light cyan" type="submit">Add Category
      <i class="material-icons right">playlist_add</i>
    </button>
  </div>
  </form>
  <div class="row">
    <ul>
      {% for cat in categories %}
      <li>
        <div class="col s10"><p>{{ cat.category_name.capitalize() }}</p></div>
        <div class="col s2 center-align">
            <a href= "{{ url_for('edit_category', item_id=cat._id) }}" class="waves-effect waves-light btn-small blue lighten-2">Edit</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}