{% extends 'base.html' %}
{% block content %}

<h3>Edit Category</h3>
<div class="row">
  <form action="{{ url_for('update_category', item_id=category._id) }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="category_name" name="category_name" type="text" value={{category.category_name}} class="validate">
        <label for="category_name">Change the category name</label>
      </div>
    </div>
  <div class="row">
  <button class="btn waves-effect waves-light cyan lighten-1" type="submit">Update Category
      <i class="material-icons right">playlist_add</i>
    </button>
  </div>
  </form>
</div>
{% endblock %}