{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="search-container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <form action="/search_item" method="POST" class="col s12">
      <input placeholder="Enter item name" id="item_name" name="item_name" type="text" class="validate col s9">
      <button class="btn waves-effect waves-light col s2 offset-s1" type="submit">Search
          <i class="material-icons right">search</i>
        </button>
  </form>
</div>
</div>
<h4 class="center-align">Supplies Inventory</h4>
<ul class="collapsible">
  {% for category in grouped_items %}
  <li>
    <div class="collapsible-header">
      <div class="col s9"><i class="material-icons">expand_more</i><strong>{{category}}</strong></div>
      <div class="col s3">
      </div>
    </div>
    <div class="collapsible-body">
      <div class="row">
        
        {% for product in grouped_items[category] %}
        <div class="col s8">
          <span>
             Name: <strong>{{product.name}}</strong>, 
             Note: <strong>{{product.note}}</strong>, 
             Quantity: <strong>{{product.quantity}}</strong>,
             Last bought on: <strong>{{product.date|datetimeformat('%d-%m-%Y')}}</strong>
          </span>
        </div>
      <div class="right-align col s4">
      <a href="{{ url_for('edit_item', item_id=product.id) }}" class="waves-effect waves-light btn-small blue lighten-2">Edit</a>
      <a href="{{ url_for('delete_item', item_id=product.id) }}" class="waves-effect waves-light btn-small">Remove</a> 
      </div>
      {% endfor %}
    </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}