{% extends 'base.html' %}
{% block content %}
<div class="row">
  <form action="" class="col s12">
      <input placeholder="item name" id="item_name" name="item_name" type="text" class="validate">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
  </form>
</div>
<h3 class="center-align">Food inventory</h3>
<ul class="collapsible">
  {% for category in grouped_items %}
  <li>
    <div class="collapsible-header">
      <div class="col s9"><i class="material-icons">expand_more</i><strong>{{category}}</strong></div>
      <div class="col s3">
      </div>
    </div>
    <div class="collapsible-body">
      <div class="row item-details">
        {% for product in grouped_items[category] %}
        <div class="col s8">
          <span>
             Name: <strong>{{product.name}}</strong>, 
             Note: <strong>{{product.note}}</strong>, 
             Quantity: <strong>{{product.quantity}}</strong>
          </span>
        </div>
      
      <div class="right-align col s4">
      <a href="{{ url_for('edit_item', item_id=product.id) }}" class="waves-effect waves-light btn-small blue lighten-2">Edit</a>
      <a href="{{ url_for('delete_item', item_id=product.id) }}" class="waves-effect waves-light btn-small">Remove</a> 
      </div>
      {% endfor %}
    </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}